$color-gradient: linear-gradient(45deg, #2937f0, #9f1ae2);

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.fixed-top {
  background-color: #fff;
}
.fixed .font-small {
  font-size: smaller;
}
.fixed-top button {
  font-size: smaller;
}
.font {
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.modal-header {
  background: $color-gradient;
  color: #fff;
}

.header h1 {
  color: #212529;
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
}
.height {
  width: 240px;
}
.muted {
  font-size: 1.25rem;
  color: rgba(33, 37, 41, 0.75);
  font-weight: normal;
}
.gradient {
  background: $color-gradient;
}
.gradient h2 {
  color: #fff;
  font-size: calc(1.375rem + 0.9vw) !important;
}
.gradient img {
  height: 48px;
}
.icons {
  font-size: 4rem;
  color: transparent;
  background-clip: text;
  background-image: $color-gradient;
}
.child-1 img {
  width: 10rem;
}
.purple-picture img {
  height: 18rem;
}

.cta {
  position: relative;
  padding: 15rem 0;
  background-image: url("/assets/images/back-ground.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  margin-top: 250px;
  font-weight: 300;
  line-height: 1.2;
}
.cta {
  height: 700px;
}
.font h2 {
  font-size: calc(1.325rem + 0.9vw);
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
@mixin child {
  position: absolute;
  border-radius: 50%;
  background-image: $color-gradient;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media (min-width: 576px) {
  .child-1 {
    position: relative;
    z-index: 1;
  }
  .child-1 img {
    width: 13rem;
  }
  .child-2,
  .child-3 {
    @include child;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
  }
}
@media (min-width: 768px) {
  .child-1 img {
    width: 15rem;
  }
  .child-2,
  .child-3 {
    @include child;
    height: 360px;
    width: 360px;
    top: 50%;
    left: 50%;
  }
}
@media (min-width: 992px) {
  .child-1 img {
    margin-left: 50px;
  }
  .app-store {
    justify-content: left !important;
    margin-left: 0px !important;
  }
  .child-2-new {
    @include child;
    height: 250px;
    width: 250px;
    top: 45%;
    left: 30%;
  }
  .purple-picture img {
    height: 25rem;
    margin-left: 100px;
  }
  .child-3 {
    @include child;
    height: 360px;
    width: 360px;
    top: 50%;
    left: 55%;
  }
}
@media (min-width: 1200px) {
  .purple-picture img {
    height: 37rem;
  }
  .display-1 h1 {
    font-size: 5rem !important;
    line-height: 1.2;
  }
  .gradient h2 {
    font-size: 2.5rem !important;
  }
}
